body {
  background-color: rgb(71, 144, 255);
  padding: 0;
  margin: 0
}

header {
  color: white;

}

header h1 {
  display: flex;
  justify-content: space-around;
  margin: 0.5em
}

.filter-list {
  margin: 0;
  
}

.filter-div {
  margin: 0em;
  padding: 0.5em;
  width: 500px;
  display: flex;
  justify-content: space-around;

}

.filters {
  display:flex;
  flex-flow: row wrap;
  background-color: white;
  justify-content: center;
}

.sort {
  margin: 0.5em
}

.element-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.list-element {
  padding: 0.5em;
  width: 500px;
}

.card {
  display: flex;
  justify-content: space-between
}

.professor img {
  height: 50px
}


h1, p {
  font-family: Lato;
}